<%=today%> <br />
<span class="<%=coldclass%>"><%=coldness%></span> @<%=zip%> <a href="/?new=1" style="font-size:10px">change zip</a>
<br /><br />
<% if(weather.temp) { %>
  <%=weather.temp%>F <br />
<% } else { %>
  <%=weather.min_temp%>-<%=weather.max_temp%>F <br />
<% } %>
<%=weather.precip%>% chance of precipitation
